<mat-form-field>
  <input
    matInput
    [matDatepicker]="picker"
    placeholder="Wybierz datę"
    [(ngModel)]="selectedDate"
    (ngModelChange)="applyDateFilter($event)"
    #input
    disabled
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker disabled="false"></mat-datepicker>
</mat-form-field>

<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="createDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Data rejestracji</th>
    <td mat-cell *matCellDef="let element">
      {{ element.createDate | date : "medium" : "" : "pl" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="pesel">
    <th mat-header-cell *matHeaderCellDef>PESEL</th>
    <td mat-cell *matCellDef="let element">{{ element.person.pesel }}</td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>Imie</th>
    <td mat-cell *matCellDef="let element">{{ element.person.firstName }}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Nazwisko</th>
    <td mat-cell *matCellDef="let element">{{ element.person.lastName }}</td>
  </ng-container>

  <ng-container matColumnDef="paymentMethodIsCard">
    <th mat-header-cell *matHeaderCellDef>Forma płatności</th>
    <td mat-cell *matCellDef="let element">
      {{ paymentMethod(element.paymentMethodIsCard) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="payment">
    <th mat-header-cell *matHeaderCellDef>Przychód</th>
    <td mat-cell *matCellDef="let element">{{ element.payment }} zł</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      Nie znaleziono na dzień "{{ input.value }}"
    </td>
  </tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10]"
  aria-labels="select page of orders"
></mat-paginator>

<table style="float: right" class="payment-table">
  <thead>
    <tr>
      <th>Forma płatności</th>
      <th>Kwota</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Karta</td>
      <td>{{ cardAmount }} zł</td>
    </tr>
    <tr>
      <td>Gotówka</td>
      <td>{{ cashAmount }} zł</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Suma</td>
      <td>{{ cashAmount + cardAmount }} zł</td>
    </tr>
  </tfoot>
</table>
