<form class="orders-form" #ordersForm="ngForm" (ngSubmit)="send()">
  <!-- COLUMN I -->
  <mat-card class="card patient-details">
    <mat-card-header>
      <span mat-card-avatar class="material-symbols-outlined"> person </span>
      <mat-card-title>Dane pacjenta</mat-card-title>
    </mat-card-header>
    <mat-form-field appearance="fill">
      <mat-label>Pesel</mat-label>
      <input
        matInput
        name="pesel"
        ngModel
        pattern="^[0-9]{11}$"
        required
        [(ngModel)]="order.person.pesel"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Imię</mat-label>
      <input
        matInput
        name="firstName"
        ngModel
        required
        [(ngModel)]="order.person.firstName"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nazwisko</mat-label>
      <input
        matInput
        name="lastName"
        ngModel
        required
        [(ngModel)]="order.person.lastName"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        name="email"
        ngModel
        required
        [(ngModel)]="order.person.email"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Telefon</mat-label>
      <input
        matInput
        name="phoneNumber"
        ngModel
        pattern="^[0-9]{9}$"
        required
        [(ngModel)]="order.person.phoneNumber"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nr zlecenia</mat-label>
      <input
        matInput
        name="barcode"
        ngModel
        pattern="^[0-9]{10}$"
        required
        [(ngModel)]="order.barcode"
      />
    </mat-form-field>
  </mat-card>
  <!-- COLUMN II -->
  <mat-card class="card searcher">
    <mat-card-header>
      <span mat-card-avatar class="material-symbols-outlined">
        shopping_cart
      </span>
      <mat-card-title>Koszyk</mat-card-title>
    </mat-card-header>
    <mat-card class="cart">
      <div>
        <app-cart (priceChange)="updateCart()"></app-cart>
      </div>
    </mat-card>
  </mat-card>
  <!-- COLUMN III -->
  <mat-card class="card additions">
    <mat-card-header>
      <span mat-card-avatar class="material-symbols-outlined">
        lab_research
      </span>
      <mat-card-title>Dodatkowe informacje</mat-card-title>
      <div></div>
    </mat-card-header>
    <button
      class="searchButton"
      color="primary"
      type="button"
      mat-raised-button
      (click)="openDialog()"
    >
      <span class="material-symbols-outlined"> search </span>
    </button>
    <mat-card class="tests-counter">
      <mat-card-subtitle>Przygotuj probówki: </mat-card-subtitle>
      <div class="tests-counter">
        <app-test-tubes [tests]="order.labTests"></app-test-tubes>
      </div>
    </mat-card>
    <mat-card class="paymentChoice">
      <mat-card-subtitle>Forma płatności:</mat-card-subtitle>
      <mat-radio-group
        aria-label="Select an option"
        [(ngModel)]="order.paymentMethodIsCard"
        name="paymentMethod"
      >
        <mat-radio-button [value]="false">Gotówka</mat-radio-button>
        <mat-radio-button [value]="true">Karta</mat-radio-button>
      </mat-radio-group>
    </mat-card>
    <div class="submit-form">
      <h3>Cena: {{ order.payment }} zł</h3>
      <button color="accent" mat-raised-button type="submit" [disabled]="ordersForm.invalid">
        Zarejestruj zlecenie
      </button>
    </div>
  </mat-card>
</form>
