.login-page {
  margin-top: 30%;
  padding: 25px;
  border-radius: 3%;
  background-color: lightgray;
}

.login-page mat-card-subtitle,
mat-card-title {
  margin: auto;
  padding: 20px;
}

.divider {
  margin-bottom: 20px;
}

