.login-page {
  margin-top: 50%;
  padding: 25px;
  border-radius: 3%;
  /* background: rgba(0, 0, 0, 0.14); */
}

.login-page mat-card-subtitle,
mat-card-title {
  margin: auto;
  padding: 20px;
}

.divider {
  margin-bottom: 20px;
}
