<div class="flex page">
  <div class="m-auto">
    <mat-card class="login-page">
      <mat-card-title>Zaloguj się do systemu</mat-card-title>
      <mat-card-subtitle>Wprowadź swój login oraz hasło</mat-card-subtitle>
      <mat-card-content>
        <form action="" (ngSubmit)="login()">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="Wprowadź swój login"
              name="email"
              [(ngModel)]="email"
            />
          </mat-form-field>
          <mat-divider class="divider"></mat-divider>
          <mat-form-field>
            <mat-label>Hasło</mat-label>
            <input
              matInput
              type="password"
              placeholder="Wprowadź swoje hasło"
              name="password"
              [(ngModel)]="password"
            />
          </mat-form-field>
          <mat-card-actions style="display: flex; justify-content: center;">
            <button color="accent" mat-raised-button type="submit">Zaloguj się</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
