.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
}
.symbolSerum {
  color: red;
}
.symbolEdta {
  color: purple;
}
.symbolGlucose {
  color: gray;
}
.symbolOsocze {
  color: blue;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
