html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main{
  background-color: #F5F5F5;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.m-auto {
  margin: auto;
}


